# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/sagiri_graia_platform.iml
.idea/vcs.xml
__pycache__/
config.json
